<ion-header no-border  >
    
  <ion-toolbar padding class="background">

    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/mistarjetas"></ion-back-button>
  
      </ion-buttons>

  <ion-title text-center color="light" >Cartera</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list ion-item *ngFor="let tarjeta of tarjetas">
      <ion-item>
          <ion-avatar slot="start">
              <img src="assets/imagenes/ekarteLogo.jpg">
          </ion-avatar>
          <ion-label>{{tarjeta.Empresa}}  ---- Puntos: {{tarjeta.Puntos}}</ion-label>
      </ion-item>
  </ion-list>

  <ion-list ion-item *ngFor="let tarjeta of tarjetasfbcliente">
    <ion-item>
        <ion-avatar slot="start">
            <img src="assets/imagenes/ekarteLogo.jpg">
        </ion-avatar>
        <ion-label>{{tarjeta.EmpresaAsociada}}  ---- Nombre: {{tarjeta.Nombre}}</ion-label>
    </ion-item>
</ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/nueva-tarjeta">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab> 