<ion-header no-border  >
    
  <ion-toolbar padding class="background">

    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/mistarjetas"></ion-back-button>
  
      </ion-buttons>

  <ion-title text-center color="light" >Cartera</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list ion-item *ngFor="let tarjeta of tarjetasfbcliente">
  <ion-card>
  <ion-item-sliding>
    <ion-item button="true" color="{{tarjeta.EmpresaAsociada}}"(click)="openModal(tarjeta.CodigoTarjeta)">
    <ion-avatar slot="start">
            <img src="assets\imagenes\{{tarjeta.EmpresaAsociada}}.png">
        </ion-avatar>
    <ion-grid>
      <ion-row>
        <ion-col>
        <ion-label class="ion-text-wrap">
        <ion-text>
          <h1>
           {{tarjeta.EmpresaAsociada}}
          </h1> 

          <h2>
          Puntos: {{tarjeta.Puntos}}
          </h2>
        </ion-text>
        </ion-label>
        </ion-col>

        <ion-col>
        <ion-label>

        <ion-text>
        <h2>
          Vence:
        </h2>
        </ion-text>
        {{tarjeta.FechaExpiracion}}
        </ion-label>

  
        </ion-col>
        </ion-row>
    </ion-grid>
    </ion-item>

      <ion-item-options side="start" (click)="informacionTarjeta(tarjeta.EmpresaAsociada, tarjeta.Nombre)">
       <ion-item-option color="primary">Información</ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
       <ion-item-option color="danger" (click)="botoneliminar(tarjeta.UID)">Eliminar</ion-item-option>
      </ion-item-options>

  </ion-item-sliding>
  </ion-card>
</ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button href="/nueva-tarjeta">
    <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab> 