<ion-header>
  <ion-toolbar mode="ios"  class="background">
   
    <ion-title  color="light">
      Crear Cuenta
    </ion-title>
   
    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/registro"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-button  expand="block" color="light" >Registrar con 
  <ion-icon slot="end" name="logo-google"></ion-icon>
</ion-button>

<ion-list>

<ion-item> 
<ion-label color="primary">Nombre</ion-label>
<ion-input class="ion-text-right" placeholder="Ingrese su nombre"></ion-input>
</ion-item>  

<ion-item>
<ion-label color="primary">Apellido</ion-label>
<ion-input class="ion-text-right" placeholder="Ingrese su apellido"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="primary">Género</ion-label>
<ion-select placeholder="Seleccione uno">
  <ion-select-option value="Masculino">Masculino</ion-select-option>
  <ion-select-option value="Femenino">Femenino</ion-select-option>
</ion-select>
</ion-item>

<ion-item>
    <ion-label color="primary">Correo electronico</ion-label>
    <ion-input class="ion-text-right" placeholder="Ejemplo@ejemplo.com"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="primary">Contraseña</ion-label>
  <ion-input class="ion-text-right" placeholder="Ingrese su contraseña"></ion-input>
</ion-item>

<ion-item>
    <ion-label color="primary">Confirmar Contraseña</ion-label>
    <ion-input class="ion-text-right" placeholder="Repita su contraseña"></ion-input>
  </ion-item>  


<ion-item>
    <ion-label>Aceptar términos y condiciones</ion-label>
    <ion-toggle></ion-toggle>
</ion-item>

</ion-list>
<ion-button color="secondary" expand="block" routerLink="/crear-contrasena">Enviar y continuar</ion-button>
 

</ion-content>

