<ion-header no-border  >
    
    <ion-toolbar padding class="background">

      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/registro"></ion-back-button>
    
        </ion-buttons>




        <ion-title text-center color="light" >Ajustes</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content padding class="background" > 
<ion-title text-center>
    <img alt="Logo" id="header_Logo" height="150" float-leftimg src="assets\imagenes\Logo.png" class="ion-align-items-center"/>
    </ion-title>

<hr> 
  
<ion-row center>

  <ion-col width-50 center>
    <ion-label>
<ion-item color="transparent">
  <ion-label>Notificacar fecha de vencimiento </ion-label>
  <ion-toggle color="light"></ion-toggle>
</ion-item>

<ion-content padding>
<ion-item color="transparent">
  <ion-label color="transparent">
    Plazo de notificacion de fecha de vencimiento</ion-label>
<ion-select placeholder="Seleccione uno" [(ngModel)] = "fechaexpiracion">
  <ion-select-option value="2 dias" >2 dias</ion-select-option>
  <ion-select-option value="4 dias" >4 dias</ion-select-option>
  <ion-select-option value="7 dias" >7 dias</ion-select-option>
  <ion-select-option value="10 dias" >10 dias</ion-select-option>
  <ion-select-option value="15 dias" >15 dias</ion-select-option>
  <ion-select-option value="20 dias" >20 dias</ion-select-option>
</ion-select>
</ion-item>







<ion-item color="transaparent">
  <ion-label position="stacked">Fecha de Vencimiento de Puntos</ion-label>
  <ion-input [(ngModel)] = "fechaexpiracion" (click)="SelectDate()" type="text"></ion-input>
</ion-item>





<ion-button color='danger' expand='block' size='large' (click)="presentAlertMultipleButtons()">Eliminar Cuenta</ion-button>




