<ion-header>
  <ion-toolbar>
      <p style="text-align:center">Terminos y Condiciones e-Karte</p>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding class="gris-claro.jpg">

    <img src="assets\imagenes\Logo.png" height='80' width='130'  class="ion-align-items-center"/>

    <p>
      Bienvenido a e-Karte. El uso del servicio de la aplicacion movil e-karte esta sujeto en todo momentos a estos Terminos y condiciones 
      de servicio. Lea estos terminos y condiciones antes de utilizar el servicio de e-karte.
      <br>
      <br>
      Al registrarse, acceder y/o usar el servicio de e-Karte de cualquier manera, usted acuerda que esta obligado por estos terminos y condiciones.



    </p>
  



</ion-content>
