.color{
    color: black;
    text-align: justify;
 
 }
.background{
  --background: url(src/assets/imagenes/Plantilla2.jpg) 0 0/100% 100% no-repeat ;
}



//background color personal 
 .background-color{
  --ion-background-color:#d7d8da; 
 }