<ion-header></ion-header>


<ion-content padding class="background" scroll="false">

  <div style="height: 80px;"></div>

  <ion-title text-center>
    <img alt="Logo" id="header_Logo" height="150" float-leftimg src="assets\imagenes\Logo.png"
      class="ion-align-items-center" />
  </ion-title>


  <ion-card color="light">
    <ion-input placeholder="Usuario" type="email" name="email" [(ngModel)]="email">
      <ion-icon name="person" slot="start" class="ion-icon"></ion-icon>
    </ion-input>

  </ion-card>

  <ion-card color="light">
    <ion-input placeholder="Contraseña" type="password" name="password" [(ngModel)]="password">
      <ion-icon name="lock" slot="start" class="ion-icon"></ion-icon>
    </ion-input>

  </ion-card>

  <ion-item color="transparent">
    <ion-label>Mantener sesión iniciada</ion-label>
    <ion-toggle color="light"></ion-toggle>
  </ion-item>


    
      <ion-button (click)="onSubmitLogin()"  shape="round" color="ekarteMorado" expand="full">Iniciar Sesión</ion-button>



      <section align="center"> 
        <ion-text class="ion-paddingpersonal" color="Dark">¿Olvidó su contraseña? <a routerLink="/recuperar-contrasena">Pulse aquí</a></ion-text>

        <ion-text class="ion-paddingpersonal-02">¿No tienes cuenta? <a routerLink='/crear-cuenta'>Crea una</a>
        </ion-text>
      </section>
  

    </ion-content>
     
     
