<ion-header></ion-header>


<ion-content  padding class="background" scroll="false" >

  <div style="height: 80px;"></div>
 
  <ion-title text-center>
  <img alt="Logo" id="header_Logo" height="150" float-leftimg src="assets\imagenes\Logo.png" class="ion-align-items-center"/>
  </ion-title>


  <ion-card color="light">
      <ion-input placeholder="Usuario" type="email" name="email">
          <ion-icon name="person" slot="start" class="ion-icon"></ion-icon>
      </ion-input>
      
  </ion-card>

    <ion-card color="light">
        <ion-input placeholder="Contraseña" type="password" name="password"> 
            <ion-icon name="lock" slot="start" class="ion-icon"></ion-icon>
        </ion-input>

    </ion-card>

    <ion-item color="transparent">
        <ion-label>Mantener sesion iniciada</ion-label>
        <ion-toggle color="light"></ion-toggle>
    </ion-item>
    
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-button class="login-button" color="ekarteMorado">Iniciar Sección</ion-button>
        
               
        <ion-text class="button" class="ion-paddingpersonal" color="Dark" routerLink="/recuperar-contrasena">¿Olvidó su contraseña?</ion-text>
      
  <ion-row class="ion-paddingpersonal-02">
   <div>
      ¿No tienes cuenta?<a routerLink='/crear-cuenta'>
          Crea una</a> 
 
        </div>
    </ion-row>
         






