.hcs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-button {
    width: 100%;
  --border-radius: 1% !important;
  --text-align: center;
  }

  .ion-icon{
    font-size: 25px;
  }

.ion-paddingpersonal {
  padding : 0 auto ;
  margin: 25px auto;
  align-content: center;
  display: block;
  
  

}

.ion-paddingpersonal-02 {
  align-content: center;
  padding : 0 auto ;
  height: 80px ;
  margin: auto;
}

a{
  color: #fff;
}





.background {
  --background: url(/assets/imagenes/Plantilla1.png) 0 0/100% 100% no-repeat;
}

.posicion {
  height: 500px;
  width: 500px;
  vertical-align: middle;
}

.margenBoton{
  margin: 15px auto;
}