<ion-header>
    <ion-toolbar class="ion-padding" color="primary">
    <ion-title text-capitalize>Tarjeta: {{CodigoTarjeta}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card *ngIf="CodigoTarjetaQR" >
        <ngx-qrcode  [qrc-value]='CodigoTarjetaQR'></ngx-qrcode>  
    </ion-card>
    <ion-card  *ngIf="CodigoTarjeta">
        <ngx-barcode [bc-value]='CodigoTarjeta' [bc-display-value]="false"></ngx-barcode>
    </ion-card>
    
  <ion-button color="primary" (click)="salirSinArgumentos()" extand="full">Salir</ion-button>
</ion-content>
