// Ionic Variables and Theming. For more info, Please see:
// httP://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


/** eKarte **/
  
--ion-color-ekarteMorado: #8A95EC;
--ion-color-ekarteMorado-rgb: 157,65,226;
--ion-color-ekarteMorado-contrast: #ffffff;
--ion-color-ekarteMorado-contrast-rgb: 255,255,255;
--ion-color-ekarteMorado-shade: #8a39c7;
--ion-color-ekarteMorado-tint: #a754e5;

--ion-color-ekarteAZulClaro: #18ddf3;
  --ion-color-ekarteAZulClaro-rgb: 24,221,243;
  --ion-color-ekarteAZulClaro-contrast: #000000;
  --ion-color-ekarteAZulClaro-contrast-rgb: 0,0,0;
  --ion-color-ekarteAZulClaro-shade: #15c2d6;
  --ion-color-ekarteAZulClaro-tint: #2fe0f4;
  
  

.ion-color-ekarteMorado {
  --ion-color-base: var(--ion-color-ekarteMorado);
  --ion-color-base-rgb: var(--ion-color-ekarteMorado-rgb);
  --ion-color-contrast: var(--ion-color-ekarteMorado-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ekarteMorado-contrast-rgb);
  --ion-color-shade: var(--ion-color-ekarteMorado-shade);
  --ion-color-tint: var(--ion-color-ekarteMorado-tint);
}

.ion-color-ekarteAZulClaro {
  --ion-color-base: var(--ion-color-ekarteAZulClaro);
  --ion-color-base-rgb: var(--ion-color-ekarteAZulClaro-rgb);
  --ion-color-contrast: var(--ion-color-ekarteAZulClaro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ekarteAZulClaro-contrast-rgb);
  --ion-color-shade: var(--ion-color-ekarteAZulClaro-shade);
  --ion-color-tint: var(--ion-color-ekarteAZulClaro-tint);

}


  --ion-color-LaSirena: #ffff00;
  --ion-color-LaSirena-rgb: 255,255,0;
  --ion-color-LaSirena-contrast: #000000;
  --ion-color-LaSirena-contrast-rgb: 0,0,0;
  --ion-color-LaSirena-shade: #e0e000;
  --ion-color-LaSirena-tint: #ffff1a;


.ion-color-LaSirena {
  --ion-color-base: var(--ion-color-LaSirena);
  --ion-color-base-rgb: var(--ion-color-LaSirena-rgb);
  --ion-color-contrast: var(--ion-color-LaSirena-contrast);
  --ion-color-contrast-rgb: var(--ion-color-LaSirena-contrast-rgb);
  --ion-color-shade: var(--ion-color-LaSirena-shade);
  --ion-color-tint: var(--ion-color-LaSirena-tint);
}


  --ion-color-Jumbo: #ff0000;
  --ion-color-Jumbo-rgb: 255,0,0;
  --ion-color-Jumbo-contrast: #ffffff;
  --ion-color-Jumbo-contrast-rgb: 255,255,255;
  --ion-color-Jumbo-shade: #e00000;
  --ion-color-Jumbo-tint: #ff1a1a;


.ion-color-Jumbo {
  --ion-color-base: var(--ion-color-Jumbo);
  --ion-color-base-rgb: var(--ion-color-Jumbo-rgb);
  --ion-color-contrast: var(--ion-color-Jumbo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-Jumbo-contrast-rgb);
  --ion-color-shade: var(--ion-color-Jumbo-shade);
  --ion-color-tint: var(--ion-color-Jumbo-tint);
}


  --ion-color-Payless: #ff8000;
  --ion-color-Payless-rgb: 255,128,0;
  --ion-color-Payless-contrast: #000000;
  --ion-color-Payless-contrast-rgb: 0,0,0;
  --ion-color-Payless-shade: #e07100;
  --ion-color-Payless-tint: #ff8d1a;


.ion-color-Payless {
  --ion-color-base: var(--ion-color-Payless);
  --ion-color-base-rgb: var(--ion-color-Payless-rgb);
  --ion-color-contrast: var(--ion-color-Payless-contrast);
  --ion-color-contrast-rgb: var(--ion-color-Payless-contrast-rgb);
  --ion-color-shade: var(--ion-color-Payless-shade);
  --ion-color-tint: var(--ion-color-Payless-tint);
}


  --ion-color-Zara: #000000;
  --ion-color-Zara-rgb: 0,0,0;
  --ion-color-Zara-contrast: #ffffff;
  --ion-color-Zara-contrast-rgb: 255,255,255;
  --ion-color-Zara-shade: #000000;
  --ion-color-Zara-tint: #1a1a1a;


.ion-color-Zara {
  --ion-color-base: var(--ion-color-Zara);
  --ion-color-base-rgb: var(--ion-color-Zara-rgb);
  --ion-color-contrast: var(--ion-color-Zara-contrast);
  --ion-color-contrast-rgb: var(--ion-color-Zara-contrast-rgb);
  --ion-color-shade: var(--ion-color-Zara-shade);
  --ion-color-tint: var(--ion-color-Zara-tint);
}





}