.background{
    --background: url(/assets/imagenes/Plantilla2.png) 0 0/100% 100% no-repeat ;
}

.my-custom-menu {
    --width: 500px;
  }

  .posicion{
    height: 500px;
    width: 500px;
    vertical-align: middle;
}



img{
    display:block;
    margin:auto;

}

.puntos{
    text-align: center;
}

.empresa{
    text-align: center;
    margin-top: 10px;
    
}