// .estilo{
//   width: auto;
//   height: auto;
// }

.logosize{
  --height: 80px !important;
  --width: 130px !important;
}
.colors{
  background-color: rgb(245, 245, 248);
}
.background{
  --background: url(src\assets\imagenes\Surface.png) 100% 100%/100% 100% no-repeat ;
}

img{
  display:block;
  margin:auto;

}
// .background1{
//   --background: url(/assets/imagenes/gris-claro.jpg) 0 0/100% 100% no-repeat ;}

