.background{
    --background: url(/assets/imagenes/Plantilla2.png) 0 0/100% 100% no-repeat ;
}

h3{
    font: italic 15px arial;
    margin: 50px 0;
}

#alinear-centro{
    margin: 50px 0;
}

.center{
    text-align:center;
}