
<ion-header no-border  >
    
    <ion-toolbar padding class="background">

      <ion-buttons slot="start" >
          <ion-back-button color="light" defaultHref="/inicio"></ion-back-button>
    
        </ion-buttons>

    <ion-title color="light" align="center">Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <h3 align="center"> 
    Introduzca el correo con el cual se registró y le enviaremos 
    un mensaje para restablecer su contraseña.
    </h3>
  
  <ion-item id="alinear-centro">
    <ion-label>Correo electronico</ion-label>
    <ion-input placeholder="ejemplo@ejemplo.com" type="email" [(ngModel)] = "email"></ion-input>
  </ion-item>


  <div class="center">
    <ion-button color="secondary"  shape="round" (click)="onResetEmail()">Enviar y continuar</ion-button>
   </div>
  
  <p class="error pink-text center-aling"></p>
</ion-content>
