<ion-header no-border  >
    
  <ion-toolbar mode="ios" class="background">

    <ion-buttons slot="start">
        <ion-back-button  defaultHref="/mistarjetas"></ion-back-button>
  
      </ion-buttons>



  <ion-title text-center color="light" >Acerca de</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content padding class="background" > 
<ion-title text-center>
    <img alt="Logo" id="header_Logo" height="150" float-leftimg src="assets\imagenes\Logo.png" class="ion-align-items-center"/>
    </ion-title>

<hr> 
  
<ion-row center>

  <ion-col width-50 center>
    <ion-label>
              
  <p class="sizeletras"><i>e-Karte es una aplicación móvil que permite a los usuarios la opción de digitalizar sus tarjetas de membresia,
                           con el fin de asegurar su portabilidad, confianza, eficiencia y rapidez en los servicios, ya que la misma se 
                           empleará mediante un dispositivo Smart.</i> </p>    
<br> 

<p class="sizeletras"> <i> Durante Varias décadas hemos visto como empresas otorgan tarjetas preferenciales de material plástico a los clientes,
                           esto puede ser objeto de pérdida. Con e-Karte  logramos reducir el uso de plástico, rapidez en el servicio, recordatorios 
                           de tiempo de caducidad de cada membresía, ver puntos acumulados y múltiples tarjetas en un mismo smartphone.</i></p>
<br> 
<p class="sizeletras"><i>E-karte se compromete a proteger la privacidad y seguridad de su Información Personal. La información que comparte con E-karte 
                         nos permitira brindarle la mejor experiencia al utilizar nuestro servicio. Contamos con un Programa de Privacidad que protege toda 
                         la Información Personal que recopilamos  y que ayuda a garantizar que la Información Personal se maneje adecuadamente.Ganar y mantener
                         la confianza es esencial para lo que hacemos. E- karte está comprometida con la transparencia de nuestras prácticas de privacidad, y 
                         deseamos que usted pueda interactuar con nosotros.</i></p>
<br> 
    

    </ion-label>
  </ion-col>
</ion-row>

</ion-content>


