
<ion-header no-border  >
    
  <ion-toolbar padding class="background">

    <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/mistarjetas"></ion-back-button>
  
      </ion-buttons>

  <ion-title text-center color="light" >Acerca de</ion-title> 
  
</ion-toolbar>

</ion-header>

<ion-content padding> 

<ion-title text-center>
    <img alt="Logo" id="header_Logo" height="150"  float-leftimg src="assets\imagenes\e.png" class="ion-align-items-center"/>
</ion-title>

<hr> 


<ion-card color="ekarteAzulClaro">
  <ion-card-header>
  <ion-card-title>Version</ion-card-title>
  </ion-card-header>

  <ion-card-content aling="justify" class="color">
   1.0.0
     
  </ion-card-content>
</ion-card>


<ion-card color="ekarteAzulClaro">
    <ion-card-header>
    <ion-card-title> Soporte</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="aling-left">
        Correo de soporte - support@eEkarte@.com
    </ion-card-content>
  </ion-card>


  <ion-card color="ekarteAzulClaro">
      <ion-card-header>
      <ion-card-title> Copyright 2019-2020</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="color">
          © eKarte Systems, Inc., 2019 a 2020, Todos los derechos reservados en todo
          el mundo. Al usar eKarte estas de acuerdo con nuestros Terminos de uso 
          
      </ion-card-content>
    </ion-card>





