//Background perfeccinado, toma pantalla completa
.background {
    --background: url(/assets/imagenes/Plantilla2.png) 0 0/100% 100% no-repeat;
 }
 

.posicion{
   height: 500px;
   width: 500px;
   vertical-align: middle;
}


// Tamaño de letras, tipo y justificacion texto 
.sizeletras{
   font-size: 11pt;
   font-family:'Times New Roman', Times, serif;
   text-align: justify;
   color: black;
}

.color{
   color: black;
   text-align: justify;

}

.aling-left{
   text-align: left;
   color: black;

}

img{
   display:block;
   margin:auto;

}

.fondo-e{
   --background: url(/assets/imagenes/e2.png);
}

