<ion-header no-border  >
    
  <ion-toolbar padding class="background">

   


  <ion-title text-center color="light" >Nueva Tarjeta</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button color="ekarteMorado" expand="block" size="large" (click)="tomarfoto()">
      <ion-icon name="add-circle-outline"></ion-icon>
    Capturar código
  </ion-button>

   <img [src]="foto" *ngIf="foto">

   <ion-list>

  <ion-item> 
  <ion-label> Nombre </ion-label>
  <ion-input [(ngModel)] = "nombre"></ion-input>
  </ion-item>  

  <ion-item>
  <ion-label>Empresa Asociada</ion-label>
  <ion-input [(ngModel)] = "empresaAsociada"></ion-input>
  </ion-item>


  <ion-item>
      <ion-label>Fecha Expiracion</ion-label>
      <ion-input [(ngModel)] = "fechaExpiracion"></ion-input>
  </ion-item>

</ion-list>

<ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-button (click)="getTarjeta()" color="ekarteMorado" href="/cartera">Guardar</ion-button>
        </ion-col>

        <ion-col>
          <ion-button href="/cartera" color="ekarteMorado">Cancelar</ion-button>
        </ion-col>
      </ion-row>
</ion-grid>

 
{{listaTarjetas}}

<ion-button (click)="setTheValue()">Set the value</ion-button>

<ion-button (click)="deleteTarjeta()">Delete value</ion-button>



<!-- 
<ion-item>
  <ion-label position="fixed">Title</ion-label>
  <ion-input [(ngModel)]="newItem.title"></ion-input>
</ion-item>
-->



</ion-content>



