<ion-header no-border  >
    
  <ion-toolbar padding class="background">

   


  <ion-title text-center color="light" >Nueva Tarjeta</ion-title> 
  
</ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button color="ekarteMorado" expand="block" size="large" (click)="EscanearCodigoBarras()">
      <ion-icon name="add-circle-outline"></ion-icon>
      Código de barras
  </ion-button>

  <ion-button color="ekarteMorado" expand="block" size="large" (click)="EscanearCodigoQR()">
      <ion-icon name="add-circle-outline"></ion-icon>
    Código QR
  </ion-button>

  <ion-card *ngIf="codigotarjeta">Código Escaneado:{{codigotarjeta}}</ion-card>

   <ion-list>

  <ion-item> 
  <ion-label> Información </ion-label>
  <ion-input [(ngModel)] = "nombre"></ion-input>
  </ion-item>  

  <ion-item>
  <ion-label>Empresa Asociada</ion-label>
    <ion-select [(ngModel)]= "empresaasociada" value="" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option value="LaSirena">La sirena</ion-select-option>
      <ion-select-option value="Payless">Payless</ion-select-option>
      <ion-select-option value="Jumbo">Jumbo</ion-select-option>
      <ion-select-option value="Zara">Zara</ion-select-option>
    </ion-select>
  </ion-item>



  <ion-item>
      <ion-label position="floating">Fecha Expiracion</ion-label>
      <ion-input [(ngModel)] = "fechaexpiracion" (click)="SelectDate()" type="text"></ion-input>
  </ion-item>

</ion-list>

<ion-item>
  <ion-label position="floating" align="center">Codigo Afiliado Empresa</ion-label>
  <ion-input [(ngModel)] = "codigoempresa"  type="text"></ion-input>

</ion-item>


  <ion-button (click)="AgregarTarjetaDesdeEmpresa()" expand="block" color="primary" align="center">Consultar Datos En Empresa</ion-button>
  



<ion-button (click)="addItem()" color="ekarteMorado" expand="block" class="margen">Guardar</ion-button>

<ion-button href="/cartera" color="ekarteMorado" expand="block" class="margen">Cancelar</ion-button>
  
</ion-content>



